<div id="edit-download-job-modal-content" class="modal-content d-none">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Download Job</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="edit-download-job-form">
      <div class="modal-body">
        <input name="id" type="text"> 
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
      </form>
    </div>