{% load django_bootstrap5 %}

<div class="modal fade" id="test-modal" tabindex="-1" aria-labelledby="test-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="test-modal-label">Test</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="/presto/" method="post" class="form" enctype="multipart/form-data">

        <div class="modal-body">
            body
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            {% bootstrap_button button_type="submit" content="Submit" class="success" %}
        </div>

      </form>

    </div>
  </div>
</div>