{% load prettyjson %}

<div class="modal fade readonly-modal" id="view-instructions-modal-{{instruction.id}}" tabindex="-1" aria-labelledby="view-instructions-modal-label-{{instruction.id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="view-instructions-modal-label-{{instruction.id}}">Instructions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        {% prettyjson instruction.instruction initial='parsed' %}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>